## Answer queries authoritatively for this DNS zone. For example, if this
## is set to "exitlist.example.com.", your server would accept queries of
## the form "1.0.0.10.80.4.3.2.1.ip-port.exitlist.example.com.". This
## option is required.
#AuthoritativeZone exitlist.example.com.

## This name server's own domain name, for use in NS and SOA records. This
## option is required.
#DomainName exitlist-ns.example.com.

## The IP address that will be returned in response to requests for the A
## record matching our authoritative zone. If you don't specify this
## option, no A record will be returned for the authoritative zone.
#Address 18.0.0.1

## Use this email address in the RNAME field of SOA records. Usually, this
## should be something like "hostmaster@example.com" in the form of a
## fully-qualified domain name. This option is required.
#SOARName hostmaster.example.com.

## Store exit test results and place the statistics socket in this
## directory. This should be an absolute path accessible inside the chroot
## (if one is configured). This option is required.
##
## This example assumes you've specified ChangeRootDirectory.
#StateDirectory /state

## Bind the name server to this IP address and UDP port. If you want to
## bind to all interfaces, you might set the address to "0.0.0.0". This
## port is bound before dropping privileges. Leave it commented to use the
## default.
#DNSListenAddress 127.0.0.1:53

## Make Tor controller connections to this IP address and TCP port. You'll
## need to set this as your ControlListenAddress or ControlPort in Tor's
## torrc. Leave it commented to use the default.
#TorControlAddress 127.0.0.1:9051

## Detach from the controlling terminal and run in the background as a
## daemon. The default is "False".
#RunAsDaemon True

## Tor's data directory. Only specify this when you're using Tor's
## CookieAuthentication for controller connections. The control auth cookie
## is read before chrooting or dropping privileges.
#TorDataDirectory /var/lib/tor

## The password you used to generate the HashedControlPassword in Tor's
## torrc. This is only required when you have a HashedControlPassword.
#TorControlPassword password

## The user name to which you want to drop privileges. This option requires
## root privileges.
#User tordnsel

## The group name to which you want to drop privileges. This option also
## requires root privileges.
#Group tordnsel

## Call chroot(2) to change our root directory. This option also requires
## root privileges.
#ChangeRootDirectory /var/lib/tordnsel

## Write our PID to the specified file before chrooting or dropping
## privileges. This file won't be removed on exit.
#PIDFile /var/run/tordnsel.pid

## Make at most this number of concurrent test connections through exit
## nodes. By default this is set to 0, that is, we don't perform any tests.
## If this is set higher than about (FD_SETSIZE-80)/2, the runtime will
## crash due to limitations of select(2).
#ConcurrentExitTests 384

## Make exit test connections through Tor's SocksPort on this IP address
## and TCP port. Leave it commented to use the default.
#TorSocksAddress 127.0.0.1:9050

## Bind the exit test listeners to this IP address and these TCP ports.
## These ports are bound before dropping privileges. Don't use the loopback
## interface for TestListenAddress if you're redirecting connections with
## iptables because your redirected packets will be dropped as martians.
## This option is only required when ConcurrentExitTests is greater than 0.
#TestListenAddress 10.0.0.1:80,443,110,53,22,5190,6667,9030

## Make exit test connections to this IP address and these TCP ports. These
## should be publicly accessible from Tor exit nodes. This option is only
## required when ConcurrentExitTests is greater than 0.
#TestDestinationAddress 18.0.0.1:80,443,110,53,22,5190,6667,9030
